In [25]:
from Bio.SeqIO.QualityIO import FastqGeneralIterator
from Bio import SeqIO
import pandas as pd
import numpy as np

In [26]:
#读入文件（这个文件我暂时还没用上）
sequencesrna = []
for record in SeqIO.parse('sgRNA_reference.fa','fasta'):
    sequencesrna.append(str(record.seq))
pd.Series(sequencesrna)

0        TAGGAAGGCTTTGCATATT
1        TACTCCCTACAATCCATCT
2        ACAATCCATCTGGTCCCAA
3        ATGATACTGTCATCTTCTT
4        ACAGACGCCTCAGTCTCTG
                ...
16320    CGTTTTTGCCCCCGATAAG
16321    CCGTAGCGGCGTAACGCGG
16322    GAGTCTTGATCTGCTCCCA
16323    GCGAGGGTGTCCTCCCATG
16324    AGTCCGGTTCTGCGGATGT
Length: 16325, dtype: object

In [27]:
#读入t 0时刻文件
sequences0 = []
for title, seq, qual in FastqGeneralIterator('t0.fastq'):
    #数据清理
    sequences0.append(seq[21:40])

In [28]:
len(sequences0)

4000000

In [29]:
#计算t 0时刻频数 
counts0=pd.Series(sequences0).value_counts()
counts0_sum=pd.Series(sequences0).value_counts().sum()

In [30]:
#读入t 10时刻文件
sequences10 = []
for title, seq, qual in FastqGeneralIterator('t10.fastq'):
    sequences10.append(seq[20:40])

In [40]:
len(sequences10)

4000000

In [32]:
#计算t 10时刻频数
counts10=pd.Series(sequences10).value_counts()
counts10_sum=pd.Series(sequences10).value_counts().sum()

In [41]:
counts10

GGCGCTCCTCCACAGCTCC    1852
CCCGCGCTCGTTTCACACC    1827
TATCGGTCTTTCCGCTGCC    1691
CACAGCTCGCTGGCTCCCC    1652
TGCGCTCCCCTTTATTTGC    1555
                       ...
TGTGCCGCGGTTCTTTGTT       1
ACCGGTGAGTTCTCGACAC       1
ACTGATGCAGCTGCAGTGC       1
CGATCTTGCCGATGCTGTT       1
CCTTCAGGGGGTCCACCGC       1
Length: 309758, dtype: int64

In [33]:
#计算t 0时刻频率 
countsd0 = pd.DataFrame(counts0,columns=['counts0'])
countsd0['freq0']=counts0/counts0_sum

In [34]:
#计算t 10时刻频率 
countsd10=pd.DataFrame(counts10,columns=['counts10'])
countsd10['freq10']=counts10/counts10_sum

In [35]:
countsd0

                     counts0         freq0
GGTGGTGCCCATCCTGGTC     1025  2.562500e-04
CCCGCGCTCGTTTCACACC      974  2.435000e-04
TACCGGCTCCTCTCCGTTC      964  2.410000e-04
CACTGAACTCGTACAAACC      955  2.387500e-04
GCAGCTACCTGCTCCCTGC      949  2.372500e-04
...                      ...           ...
CTATGTCTCCAAGCTGCCC        1  2.500000e-07
CTGGTTACTGTGTCCTGAC        1  2.500000e-07
CGTGTCTCGCGGTCTCCAA        1  2.500000e-07
AGACTTCAAATCCGAAGGC        1  2.500000e-07
CCGACAGCCTCGATCCGGC        1  2.500000e-07

[320114 rows x 2 columns]

In [36]:
countsd10

                     counts10        freq10
GGCGCTCCTCCACAGCTCC      1852  4.630000e-04
CCCGCGCTCGTTTCACACC      1827  4.567500e-04
TATCGGTCTTTCCGCTGCC      1691  4.227500e-04
CACAGCTCGCTGGCTCCCC      1652  4.130000e-04
TGCGCTCCCCTTTATTTGC      1555  3.887500e-04
...                       ...           ...
TGTGCCGCGGTTCTTTGTT         1  2.500000e-07
ACCGGTGAGTTCTCGACAC         1  2.500000e-07
ACTGATGCAGCTGCAGTGC         1  2.500000e-07
CGATCTTGCCGATGCTGTT         1  2.500000e-07
CCTTCAGGGGGTCCACCGC         1  2.500000e-07

[309758 rows x 2 columns]

In [37]:
#合并两个表格
df_merge = countsd0.join(countsd10)

In [38]:
#计算变化率
df_merge['log2f']=np.log2(df_merge['freq0']/df_merge['freq10'])
df_merge

                     counts0         freq0  counts10        freq10     log2f
GGTGGTGCCCATCCTGGTC     1025  2.562500e-04     973.0  2.432500e-04  0.075112
CCCGCGCTCGTTTCACACC      974  2.435000e-04    1827.0  4.567500e-04 -0.907483
TACCGGCTCCTCTCCGTTC      964  2.410000e-04     938.0  2.345000e-04  0.039445
CACTGAACTCGTACAAACC      955  2.387500e-04     914.0  2.285000e-04  0.063307
GCAGCTACCTGCTCCCTGC      949  2.372500e-04    1179.0  2.947500e-04 -0.313084
...                      ...           ...       ...           ...       ...
CTATGTCTCCAAGCTGCCC        1  2.500000e-07       NaN           NaN       NaN
CTGGTTACTGTGTCCTGAC        1  2.500000e-07       NaN           NaN       NaN
CGTGTCTCGCGGTCTCCAA        1  2.500000e-07       NaN           NaN       NaN
AGACTTCAAATCCGAAGGC        1  2.500000e-07       2.0  5.000000e-07 -1.000000
CCGACAGCCTCGATCCGGC        1  2.500000e-07       NaN           NaN       NaN

[320114 rows x 5 columns]

In [39]:
df_merge.to_csv('result1.csv')